.intro__item {
    border: 0;
    width: 100%;
    height: 24px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    background-color: transparent;
    margin-top: 5px;
    font-size: 14px;
    font-family: inherit;
    height: 44px;
    padding-left: 15px;
}

.intro__item:focus {
    outline-style: none;
}

.intro__item::-webkit-input-placeholder {
    opacity: .75;
}

.intro__item:focus+.calendar {
    display: flex;
}

.intro__item:focus+.popup__selector {
    display: grid;
}
