.root {
    animation: body-opacity-change 1s ease-in-out 0s 1 forwards;
    opacity: 0;
}

.content {
    display: grid;
    grid-template-areas: 
    "filters rooms";
    gap: 0 60px;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
}

.filters {
    grid-area: filters;
    max-width: 266px;
}

.rooms {
    grid-area: rooms;
    width: 58vw;
    max-width: 835px;
    margin: auto;
}

@media screen and (max-width: 1437px) {
    .rooms {
        max-width: 552px;
    }
}

@media screen and (max-width: 951px) {
    .rooms {
        max-width: 280px;
    }

    .rooms__title {
        text-align: center;
    }
}

.rooms__title {
    margin: 0;
    font-size: 24px;
    margin: 30px 0 20.5px;
}

.grid-area {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
    width: auto;
    gap: 20px 12px;
    justify-content: flex-start;
    align-items: center;
}



.card {

    display: grid;
    grid-template-areas: 
    "image image"
    "number cost"
    "line line"
    "stars reviews";
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    transition: opacity .3s ease-in;
    overflow: hidden;
    text-decoration: none;
    color: #1F2041;
}

.card:hover {
    opacity: .5;
    cursor: pointer;
}

.card__image {
    grid-area: image;
    width: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    margin-bottom: 20px;
}


.card__number {
    grid-area: number;
    justify-self: start;
    margin-left: 20px;
    font-size: 19px;
    font-weight: bold;
}

.card__n {
    font-size: 14px;
}

.card__cost {
    grid-area: cost;
    justify-self: end;
    margin-right: 20px;
    opacity: .5;
    font-size: 12px;
}

.card__stars {
    grid-area: stars;
    margin-left: 20px;
    font-size: 24px;
    height: 24px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card__reviews {
    grid-area: reviews;
    justify-self: end;
    margin-right: 20px;
    align-self: end;
    opacity: .5;
    font-size: 12px;
    margin-bottom: 19px;
}

.card__cost_bold {
    font-weight: bold;
    font-size: 14px;
}

.card__line {
    grid-area: line;
    background-color: rgba(31, 32, 65, 0.1);
    height: 1px;
    width: 230px;
    margin: 12px 20px 3px;
}

@keyframes body-opacity-change {
    from { opacity: 0;}
    to { opacity: 1;}
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.filters__label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    width: 266px;
}

.filters__filter:first-child {
    margin-top: 36px;
}

.date {
    margin-bottom: 20px;
    width: 266px;
}

.filter__guests {
    margin-bottom: 30px;
    width: 266px;
}


.filters__item {
    border: 0;
    width: 100%;
    height: 24px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-radius: 4px;
    background-color: transparent;
    margin-top: 5px;
    font-size: 14px;
    font-family: inherit;
    height: 44px;
    padding-left: 15px;
}

.filters__item:focus {
    outline-style: none;
}



.cost {
    max-width: 266px;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 20px;
}

.filters__text {
    margin-top: 10.5px;
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 14px;
    opacity: .5;
}

.filters__text:last-child {
    margin-bottom: 30px;
}

.filters__text_checkbox {
    margin: 5px 0 10px 30px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    position: relative;
}

.filters__about {
    position: relative;
    font-size: 14px;
    line-height: 1.28;
    opacity: .5;
}

.filters__about:last-child {
    margin-bottom: 30px;
}

.filters__about_bold {
    opacity: .75;
    font-weight: bold;
}


.filters__about::before {
    margin-bottom: 3px;
}

.custom-checkbox:checked+label::before {
    border-color: #BC9CFF;
    background-image: url("./images/Vector.svg");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #BC9CFF;
}

.facilities {
    margin-top: 16px;
}

.facilities:focus+.filters__selector {
    display: grid;
}

.facilities:focus {
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 2px 2px 0 0;
    border-bottom: none;
}

.filters__selector {
    grid-template-areas: 
    "first first-counter"
    "second second-counter"
    "third third-counter";
    width: 243px;
}

.filters__about_content_smoking {
    margin-top: 16px;
}

.filters__about_content_corridor {
    margin-top: 16px;
}

.show-filters__button {
    width: 87px;
    height: 34px;
    background-color: #ffffff;
    border-style: solid;
    border-radius: 22px;
    border-color: #BC9CFF;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    color: #BC9CFF;
    margin-top: 40px;
    display: none;
    outline-style: none;
}

@media screen and (max-width: 650px) {
    .filters {
        display: none;
        position: absolute;
        left: 0px;
        top: 150px;
        background-color: #ffffff;
        padding: 0 20px 20px;
        z-index: 3;
        border: 1px solid rgba(31, 32, 65, 0.5);
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        border-radius: 0 5px 5px 0;
    }

    .filters_active {
        display: block;
    }

    .show-filters__button {
        grid-area: filters;
        display: block;
    }

    .content {
        gap: 0 40px;
    }
}

@media screen and (max-width: 476px) {
    .show-filters__button {
        position: relative;
        top: 0;
        margin: 20px auto 0;
        width: 200px;
    }

    .content {
        grid-template-areas: 
    "filters"
    "rooms";
    min-width: 270px;
    }


    .rooms {
        width: auto;
    }

    .rooms__title {
        text-align: center;
        font-size: 20px;
        width: 270px;
    }

    .filters {
        width: auto;
        min-width: 270px;
        padding: 0;
        left: auto;
        margin: 0 auto;
    }

    .filters__filter {
        margin: 0 10px;
    }

    .filters__filter:first-child {
        margin-top: 20px;
    }

    .facilities {
        margin-bottom: 20px;
    }

  
}

@media screen and (max-width: 400px) {
    .filters {
        left: auto;
        right: auto;
    }



}



