.intro__datepicker {
    background-image: url('../../../images/expand_more.svg');
    background-position: calc(100% - .5rem), 100% 0;
    background-repeat: no-repeat;
}

.intro__datepicker:hover {
    cursor: pointer;
}
