.intro__text {
    position: absolute;
    width: auto;
    max-width: 300px;
    margin: 0;
    bottom: 1.92%;
    right: 9.3%;
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    opacity: .75;
}

@media screen and (max-width: 1050px) {
    .intro__text {
        position: static;
        margin: 0 auto;
        text-align: center;
        align-self: center;

    }
}
