.navigation {
    display: grid;
    gap: 0 20px;
    grid-template-columns: repeat(5, auto);
    margin-right: 20px;

}

@media screen and (max-width: 1100px) {
    .navigation {
        gap: 20px 0;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(5, auto);
        margin-right: 0;
        justify-items: center;
        }
}

@media screen and (max-width: 500px) {
    .navigation {
        justify-items: end;
        gap: 10px 0;
    }
}