.registration-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/registration.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vw;
    max-height: 830px;
    min-height: 640px;
    margin: auto;
}